.search-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search:focus {
    outline: none;
}
#pokemon-name-search {
    padding: 1rem;
    width: 609px;
    display: flex;
    align-items: center;
    font-family: "MuseoModerno", sans-serif;
}