.pokemonList-wrapper {
    font-family: "MuseoModerno", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
}
.pokemon-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.controls button {
    padding: 0.4rem 1.3rem;
    margin-left: 1rem;
    font-size: 15px;
}